* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.container{
    font-family: 'Roboto', sans-serif;
}

div.navbar-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 10px;
    box-shadow: 1px 5px 30px rgb(237, 226, 226);
    padding-top: 10px;
}

.right-zone{
    display:flex;
    align-items: center;
    padding-right: 55px;
}

#logo{
    padding-left: 135px;
    height: 25px;
    width: auto;

}

.nav-logo{
    display: flex;
    align-items: center;
}

.icons{
    padding: 2px;
    font-size: 25px;
    color: gray;
    margin: 0 5px;
}

.resume-membership{
    margin: 0 10px;
    border: solid 1px gray;
    border-radius: 20px;
    padding: 7px;
}

.T{
    text-align: center;
    padding-top: 10px;
    color: white;
    background-color: rgb(206, 89, 46);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 30px;
}

.box-area{
    display: flex;
    flex-direction: row-reverse;
}


div#leftcontent{
   display: flex;
   flex-direction: column;
   width: 65%;
   min-height: 500px;
   margin-left: 80px;
}


.topbar-leftcontent{
    display: flex;
    padding-left: 55px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.following{
padding-bottom: 7px;
padding-right: 15px;
border-bottom: solid 1px rgb(227, 212, 212);
}

.reccommended{
padding-bottom: 7px;
border-bottom: solid 1px black;
}

.empty{
    padding-bottom: 7px;
    background-color: white;
    color: transparent;
    border-bottom: solid 1px rgb(227, 212, 212);}

.left-content1{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    align-items: center;

}

.left-content2{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    align-items: center;
}

.left-content3{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    align-items: center;

}

.left-content4{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    align-items: center;

}

.left-content5{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    align-items: center;

}
.left-content6{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    align-items: center;

}

.left-content7{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    align-items: center;

}




div.left-content1 div.box img{
    padding-left: 15px;
    padding-right: 30px;
    width: 220px;
    height: 100px;
}

div.left-content2 div.box img{
    padding-left: 15px;
    padding-right: 30px;
    width: 220px;
    height: 100px;
}

div.left-content3 div.box img{
    padding-left: 15px;
    padding-right: 30px;
    width: 220px;
    height: 100px;
}

div.left-content4 div.box img{
    padding-left: 15px;
    padding-right: 30px;
    width: 220px;
    height: 100px;
}

div.left-content5 div.box img{
    padding-left: 15px;
    padding-right: 30px;
    width: 220px;
    height: 100px;
}

div.left-content6 div.box img{
    padding-left: 15px;
    padding-right: 30px;
    width: 220px;
    height: 100px;
}

div.left-content7 div.box img{
    padding-left: 15px;
    padding-right: 30px;
    width: 220px;
    height: 100px;
}

#box-content{
    display: flex;
    flex-direction: column;
}

div.user-img{
    display: flex;
    width: 15px;
    height: 15px;
    padding-top: 3px;
}

.source{
    padding-left: 5px;
    padding-top: 5px;
}

.face-photo{
    width: 15px;
    height: 15px;
    border-radius: 20%;
}

.article-title{
    padding-left: 5px;
    padding-bottom: 2px;
}

.description{
    font-size: 16px;
    padding-left: 5px;
    padding-bottom: 5px;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.first-row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 5px;
    padding-bottom: 2px;
}

div.description{
    font-weight: lighter;
}

.keywords{
    display: flex;

}

.dec3{
    padding-right: 5px;
    font-size: 12px;
}

.fourmin{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}

.react{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(236, 227, 227);
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}

div.dot{
   text-align: center;
   color: gray;
   font-size: 12px;
}

.popularon{
    padding-left: 5px;
    padding-right: 20px;
    font-size: 12px;
}

.lastrow{
    display: flex;
    justify-content: space-between;
    color: gray;
    padding-left: 5px;
    padding-bottom: 2px;
    text-align: center;
}


.lastrow-icons{
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}

.right-sidebar{
    width: 35%;
    min-height: 500px;
    border-left: solid 1px  rgb(236, 227, 227)
}

.area-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px rgb(236, 227, 227) ;
    margin-left: 30px;
    margin-right: 60px;
}

.icons-rightbar{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

#logo-medium{
width: 25px;
height: 25px;
}

.plus{
    font-size: 20px;
    color: rgb(150, 150, 150);
}

#twitter-pic{
    width: 25px;
    height: 25px;
}

.connect-totwitter{
    display: flex;
    border: solid 1px rgb(160, 154, 154);
    border-radius: 20px;
    padding: 6px;
    text-align: center;
}

.discover{
    padding-bottom: 15px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.maybe-later{
    padding-top: 20px;
    color: rgb(190, 187, 187);
    padding-bottom: 25px;
}

.area-2{
    margin-left: 30px;
    margin-right: 60px;
}

.rec-topics{
    margin-top: 25px;
    margin-bottom: 20px;
    
}
#topics{
    display: flex;
    flex-wrap: wrap;
}

.tech{
    padding: 15px;
    color: gray;
    background-color: rgb(236, 227, 227);
    border-radius: 20px;
    margin-bottom: 5px;
   
}
.money{
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(236, 227, 227);
    border-radius: 20px;
    color: gray;
    margin-bottom: 5px;
}
.busin{
    padding: 15px;
    background-color: rgb(236, 227, 227);
    border-radius: 20px;
    color: gray;
    margin-bottom: 5px;
    
}
.produ{
    padding: 15px;
    background-color: rgb(236, 227, 227);
    border-radius: 20px;
    color: gray;
    margin-bottom: 5px;
   
}
.psyco{
    padding: 15px;
    margin-left: 10px;
    margin-right: 100px;
    background-color: rgb(236, 227, 227);
    border-radius: 20px;
    color: gray;
    margin-bottom: 5px;
}
.mindfu{
   padding: 15px;
    background-color: rgb(236, 227, 227);
    border-radius: 20px;
    color: gray;
    margin-bottom: 5px;
}
.art{
    padding: 15px;
    margin-left: 10px;
    background-color: rgb(236, 227, 227);
    border-radius: 20px;
    color: gray;
    margin-bottom: 5px;
    
}

.area-3{
    margin-left: 30px;
    margin-right: 60px;
    margin-top: 30px;
}

#photo-area3{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
    
}
#photo-area3-2{
    width: 110px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
    
}
#photo-area3-3{
    width: 110px;
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
    
}

#profile-descr{
    display: flex;
    flex-direction: column;
    padding-top: 5px;

}

.area3-elements{
    display: flex;
    margin-bottom: 20px;
}

.who-to-follow{
    margin-bottom: 15px;
}

.follow{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    height: 20px;
    width: auto;
    border: solid 1px black;
    border-radius: 20px;
    margin-left: 65px;
    margin-top: 20px;
}

.follow-2{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    height: 20px;
    width: auto;
    border: solid 1px black;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

.follow-3{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    height: 20px;
    width: auto;
    border: solid 1px black;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

.area-4-1{
    margin-left: 30px;
    margin-right: 60px;
    margin-top: 40px;
}

.area-4-2{
    margin-left: 30px;
    margin-right: 60px;
    margin-top: 10px;
}

.first-row-area4{
    display: flex;
    padding-top: 20px;
}

.face-pic-area4{
    height: 25px;
    width: 25px;
    border-radius: 20%;
}
.face-pic-area4-2{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.eva-area4{
 color: gray;
    padding-top: 5px;
    padding-left: 5px;
}


.title-area4{
    padding-top: 9px;
}
.last-row-area4{
    display: flex;
    color: darkgray;
    font-size: 14px;
    padding-top: 9px;
}

.oct2{
    margin-left: 0;
    margin-right: 7px;
}
.dot-area4{
    margin-left: 0;
    margin-right: 7px;
    text-align: center;
}
.six-min{
    margin-left: 0;
    margin-right: 7px;
}
.star{
    margin-left: 0;
    margin-right: 7px;
}

.see-all{
    color: green;
    margin-top: 30px;
    margin-bottom: 50px;
}

.area-5{
    margin-left: 30px;
    margin-right: 60px;
    margin-top: 10px;
}
.final-tags{
 display: flex;
 flex-wrap: wrap;
 color: rgb(104, 102, 102);
}

.Help{
    margin-right: 20px;
}
.Status{
    margin-right: 20px;
}
.Writers{
    margin-right: 20px;
}
.Blog{
    margin-right: 20px;
}
.Careers{
    margin-right: 20px;
}
.Privacy{
    margin-right: 20px;
    margin-top: 15px;
}
.Terms{
    margin-right: 20px;
    margin-top: 15px;
}
.About{
    margin-right: 20px;
    margin-top: 15px;
}